APP_NAME=Zamaro
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=America/Toronto
APP_URL=http://localhost:8000
APP_RELEASE=dev
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=zamaro
DB_USERNAME=zamaro
DB_PASSWORD=zamaro

SESSION_DRIVER=redis
SESSION_LIFETIME=120
CACHE_STORE=redis
QUEUE_CONNECTION=redis

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=zamaro
AWS_SECRET_ACCESS_KEY=zamaro-secret
AWS_DEFAULT_REGION=ca-central-1
AWS_BUCKET=zamaro-media
AWS_ENDPOINT=http://minio:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

MAIL_MAILER=log

ROUTING_DRIVER=fake
GEOCODER_DRIVER=fake
ZAMARO_FROZEN_NOW=
